<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>LTCG TAX CALCULATOR</title>
</head>
<body>
	
	<div align="center">
	<h3>Welcome to LTCG Tax Calculator</h3>
		<table>
			<tr>
				<td><a href="/stocks">Click Here to Query for Stocks</a></td>
			</tr>
			<tr>
				<td><a href="/mf">Click Here to Submit Query for
						Mutual Funds</a></td>
			</tr>
			<tr>
				<td><a href="/stockfmv">Get Fair Market Value(FMV) of your
						Stock</a></td>
			</tr>
			<tr>
				<td><a href="/mffmv">Get Fair Market Value(FMV) of your
						Mutual Fund</a></td>
			</tr>
		</table>
	</div>
</body>
</html>