<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>LTCG TAX CALCULATOR</title>
</head>
<style>
.content {
    max-width: 500px;
    margin: auto;
}
</style>
<body>
<h3 align="center">Welcome to LTCG Tax Calculator</h3>
<div class="content">
 <table>
 <tr><td><a href="/stocks">Click Here to Query for Stocks</a></td></tr>
 <tr><td><a href="/mf">Click Here to Submit another Query for Mutual Funds</a></td></tr>
 </table>
</div> 
</body>
</html>