<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>LTCG TAX CALCULATOR</title>
</head>

<body>
	<div align="center">
		<h3>LTCG TAX Calculator for Mutual Funds</h3>
		<form action="#" th:action="@{/mf}" th:object="${stocks}"
			method="post">
			<table>
				<tr>
					<td>MF Scheme Code:</td>
					<td></td>
					<td><input type="number" required th:field="*{mfSchemeCode}" /></td>
				</tr>
				<tr>
					<td>Buying NAV Price:</td>
					<td></td>
					<td><input type="number" required min="0" value="0" step=".01"
						th:field="*{buyingPrice}" /></td>
				</tr>
				<tr>
					<td>Selling NAV Price:</td>
					<td></td>
					<td><input type="number" required min="0" value="0" step=".01"
						th:field="*{sellingPrice}" /></td>
				</tr>
				<tr>
					<td>Total Units:</td>
					<td></td>
					<td><input type="number" th:field="*{totalQuantity}" /></td>
				</tr>
				<tr>
					<td />
				</tr>
				<tr>
					<td />
				</tr>
				<tr>
					<td />
				</tr>
				<tr>
					<td />
				</tr>
				<tr>
					<td />
				</tr>
				<tr>
					<td />
					<td><input type="submit" value="Submit" /></td>
					<td><input type="reset" value="Reset" /></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>