<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>LTCG TAX CALCULATOR</title>
</head>

<body>
	<div style="text-align:center">
	<h1>LTCG TAX Calculator</h1>
    <form action="#" th:action="@{/mf}" th:object="${stocks}" method="post">
    	
    	<p>MF Scheme Code: <input type="text" th:field="*{mfSchemeCode}" /></p>
      <!--  <p th:each="stockName ,stat : *{stockNames}">
         <input type="text" th:field="*{stockName[__${stat.index}__]}" />
       </p> -->
        <p>Buying NAV Price: <input type="text" th:field="*{buyingPrice}" /></p>
		<p>Selling NAV Price: <input type="text" th:field="*{sellingPrice}" /></p>
		<!-- <p>Buying Date: <input type="date" th:field="*{buyingDate}" /></p> -->
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    </div>
</body>
</html>