<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>LTCG TAX CALCULATOR</title>
</head>
<body>

<table border="1">
<tr>
<td>Scheme/Script name</td>
<td>Buying Price</td>
<td>Selling Price</td>
<td>Cost Of Aqusition</td>
<td>Fair Market value (FMV)</td>
<td>Decision</td>
<td>Reason Of Decision</td>
</tr>
<tr>
<td  th:text="${sn}"/>
<td th:text="${bp}"/>
<td  th:text="${sp}"/>
<td  th:text="${coa}"/>
<td  th:text="${fmv}"/>
<td  th:text="${decision}"/>
<td  th:text="${rod}"/>
</tr>
</table>
 <table>
 <tr><td><a href="/stocks">Submit another Query for Stocks</a></td></tr>
 <tr><td><a href="/mf">Submit another Query for Mutual Funds</a></td></tr>
 </table>

</body>
</html>