<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>LTCG TAX CALCULATOR</title>
</head>
<body>
	<div align="center">
		<h3>FMV Value Result of MF/Stock</h3>
		<table border="1">
			<tr>
				<td>Scheme/Script name</td>
				<td>Fair Market value (FMV)</td>
			</tr>
			<tr>
				<td th:text="${sn}" />
				<td th:text="${fmv}" />
			</tr>
		</table>
		<table>
			<tr>
				<td></td>
			</tr>
			<tr>
				<td></td>
			</tr>
			<tr>
				<td></td>
			</tr>
			<tr>
				<td></td>
			</tr>
			<tr>
				<td><a href="/">Return to Home Page</a></td>
			</tr>
		</table>
	</div>
</body>
</html>