<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>LTCG TAX CALCULATOR</title>
</head>

<body>
	<div style="text-align:center">
	<h1>LTCG TAX Calculator</h1>
    <form action="#" th:action="@{/stockDecision}" th:object="${stocks}" method="post">
    	<p>Script Name: <input type="text" th:field="*{scriptName}" /></p>
        <p>Buying Price: <input type="text" th:field="*{buyingPrice}" /></p>
		<p>Selling Price: <input type="text" th:field="*{sellingPrice}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    </div>
</body>
</html>