<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>LTCG TAX CALCULATOR</title>
</head>

<body>

	<div align="center">
		<h1>LTCG TAX Calculator For Stocks</h1>
		<form action="#" th:action="@{/stocks}" th:object="${stocks}"
			method="post">
			<table>
				<tr>
					<td>Stock Scheme Code*:</td>
					<td></td>
					<td><input type="number" value="500010" th:field="*{stockSchemeCode}"
						required /></td>
				</tr>
				<tr>
					<td>Buying Price:</td>
					<td></td>
					<td><input type="number" min="0" value="0" step=".01"
						th:field="*{buyingPrice}" required /></td>
				</tr>
				<tr>
					<td>Selling Price:</td>
					<td></td>
					<td><input type="number" min="0" value="0" step=".01"
						th:field="*{sellingPrice}" required /></td>
				</tr>
				<tr>
					<td>Total Quantity:</td>
					<td></td>
					<td><input type="number" th:field="*{totalQuantity}" /></td>
				</tr>
				<tr>
					<td/>
				</tr>
				<tr>
					<td/>
				</tr>
				<tr>
					<td/>
				</tr>
				<tr>
					<td/>
				</tr>
				<tr>
					<td/>
				</tr>
				<tr>
					<td/>
					<td><input type="submit" value="Submit" /></td>
					<td><input type="reset" value="Reset" /></td>
				</tr>


			</table>
		</form>
		<p>*BSE/NSE Site can be used for getting Scheme Code. Example:HDFC
			scheme code is 500010</p>
	</div>
</body>
</html>